<%  for (comment of i.comments){ %>
    <li class="comments">
        <p>
            <% if(locals.user && locals.user.id == comment.user.id){%>
            <a href="/comments/destroy/<%=comment.id%>">X</a>
            <%}%>
            <%= comment.content %>
        </p>
        <small><%= comment.user.name %></small>
         </li>   

<%}%>