#home-container{
    display: flex;
    width: 100%;

    #feed-posts{
        width: 70%;
        padding: 10px;
    }

    #user-friends{
        width: 30%;
        padding: 10px; 
        border-left: 1px solid lightgrey;
        height: 100%;
    }
                                 
}
.comments{
    margin: 10px 0px;

    #content{
        display: flex;
        margin: 3px 0px 3px 0px;

        .like{
            margin-left: 10px;
        }
    }
}
.like{
    text-decoration: none;
}
